@import "../../scss/variable.scss";
@import "../../scss/common.scss";


.product-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .product-name {
        font-size: 3.6rem;
        padding-left: 100px;
        line-height: 3.6rem;
        color: $color-text-primary;
        text-align: right;
        margin-bottom: 20px;
    }

    .product-review {
        display: flex;

        .box-review__review-link {
            padding: 0 6px;
            text-decoration: none;
            font-size: 1.4rem;
            color: #b9b9b9;
        }
    }

    .box-review__rating-star {
        font-size: 1.4rem;

        i {
            padding: 0 1px;
            color: $color-primary;
        }
    }

    .product-desc {
        font-size: 1.6rem;
        text-align: right;
    }

    .product-meta {
        display: flex;
        list-style: none;
        margin: 10px 0;
        border-top: 1px solid gray;
        width: 100%;
        justify-content: flex-end;
        font-size: 1.5rem;

        li {
            padding: 10px 0px 10px 20px;
            color: #b9b9b9;

            a {
                text-decoration: none;
                color: #b9b9b9;
            }

            .in-stock {
                color: #03c100;
            }
        }
    }

    .product-sidebar {
        .product-prices {
            text-align: right;
            font-size: 3rem;
            font-weight: bold;
            color: $color-text-primary;
        }
        .product-options {
            margin-top: 2rem;

            .product-options__title {
                font-size: 1.3rem;
                text-align: right;
                color: #898989;
                font-weight: 600;
            }

            .product-options__list {
                display: flex;
                justify-content: flex-end;

                .radio-color__item {
                    width: 25px;
                    height: 25px;
                    font-size: red;
                    background-color: #fa0000;
                    display: block;
                    margin: 0 4px;
                    cursor: pointer;
                    border-radius: 100%;
                    transition: 0.3s;

                    &:hover {
                        transform: scale(1.2);
                    }
                }

                .radio-color__item--blue {
                    background-color: #3973e5;
                }

                .radio-color__item--red {
                    background-color: #ff4040;
                }

                .radio-color__item--yellow {
                    background-color: #ffd333;
                }

                .radio-color__item--white {
                    background-color: white;
                    border: 1px solid gray;
                }
            }

            .product-material__item {
                position: relative;
                margin: 0 40px;
                
                &:last-child {
                    margin-right: 0;
                }
                input {
                    position: relative;
                    z-index: 1;
                    opacity: 0;
                }
                .product-material__item-title {
                    position: absolute;
                    right: 0;
                    top: 0;
                    background-color: #f0f0f0;
                    width: 80px;
                    height: 36px;
                    line-height: 36px;
                    color: $color-text-primary;
                    font-size: 1.4rem;
                    text-align: center;
                    cursor: pointer;
                    font-weight: 600;

                    &:hover {
                        background-color: #ddd;
                        transition: 0.35s ease-in-out;
                    }
                }
            }
        }

        .product__actions {
            display: flex;
            .product__actions-item {
                .product-quantity {
                   position: relative;
   
                   .count-input {
                       width: 45px;
                       height: 42px;
                       line-height: 1.65;
                       float: left;
                       display: block;
                       padding: 0;
                       margin: 0;
                       padding-left: 20px;
                       border: 1px solid #eee;
                   }

                   .quantity-nav {
                        float: left;
                        position: relative;
                        height: 42px;
                  }
                  .quantity-button {
                    position: relative;
                    cursor: pointer;
                    border-left: 1px solid #eee;
                    width: 20px;
                    text-align: center;
                    color: #333;
                    font-size: 13px;
                    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
                    line-height: 1.7;
                    -webkit-transform: translateX(-100%);
                    transform: translateX(-100%);
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    -o-user-select: none;
                    user-select: none;
                  }
               }
           }
        }
    }
  
}