@import "../../scss/variable.scss";
@import "../../scss/common.scss";

.feature-products {
    position: relative;

    .feature-products__box {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 20px;

        .feature-products__title {
            font-size: 28px;
            color: $color-text-primary;
            &::after {
                content: "";
            }
        }

        .strangfoward {
            width: 40%;
            height: 3px;
            margin: 0 15px;
            background-color: #ddd;

        }

        .feature-products__box-cate {
            .feature-products__box-cate-item {
                font-size: 1.6rem;
                padding: 3px 15px;
                color: $color-text-primary;
                cursor: pointer;
                border-radius: 50px;
                font-weight: 600;
                border: 2px solid transparent;

                &:last-child {
                    padding-right: 15px;
                }

                &:hover {
                    // border: 2px solid #ddd;
                    border: 2px solid #e4e4e4;
                }
            }
            .feature-products__box-cate-item--active {
                border: 2px solid $color-primary;
                cursor: default;

                &:hover {
                    border: 2px solid $color-primary;
                }
            }
        }

        .feature-products__title {
            font-size: 2.4rem;
        }
    }
    .slide-products {
        img {
            max-width: 100%;
            width: 100%;
        }

        .add-cart {
            position: relative;
            cursor: pointer;
            height: 360px;
            margin-bottom: 10px;
            border: 1px solid #e8e8e8;

            &:hover {
                border: 1px solid $color-primary;
                border-bottom: none;
                .test {
                   display: flex;
                }
            }
        }

        .test {
            width: 230px;
            height: 18%;
            position: absolute;
            bottom: -57px;
            z-index: 1000;
            display: flex;
            justify-content: space-between;
            border: 1px solid #ffd333;
            background-color: #ffffff;
            border-top: none;
            display: none;
            padding: $font-size-14;
            right: -1px;

            .wish {
                display: inline-flex;
                align-items: center;
                i {
                    font-size: 1.6rem;
                    color: #ccc;
                }

                .fa-heart {
                    margin-right: 10px;
                }
            }
            button {
                height: 30px;
                width: 100px;
                border: none;
                cursor: pointer;
                color: $color-text-primary;
                font-weight: 700;
                background-color: $color-primary;

                &:hover {
                    background-color: $color-text-primary;
                    color: $color-white;
                }
            }
        }

        .slide-product__body {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 15px;

            .slide-product__link {
                font-size: 1.6rem;
                text-align: right;
                text-decoration: none;
                color: $color-text-primary;
                line-height: 20px;
            }
            .review {
                span {
                    font-size: 1.6rem;
                    margin-right: 10px;
                    color: #aaa;
                }

                i.fa.fa-star {
                    padding-left: 2px;
                    font-size: 1.5rem;
                    color: $color-primary;
                }
            }
            .slide-product__price {
                font-size: 1.6rem;
                font-weight: 700;
                color: $color-text-primary;
                margin-top: 5px;
                word-spacing: -5px;
            }
            .slide-product__price--sale {
                color: red;
            }


            // label Status
            .disable {
                display: none;
            }
            .product-status__new--active {
                background-color: #37f;
            }

            .product-sale--active {
                background-color: #f33;
            }

            .product-hot--active {
                background-color: #614ba6;
            }

            .price-sale {
                font-size: 1.2rem;
                text-decoration: line-through;
                color: #acacac;
                display: none;
                word-spacing: -5px;
                 margin-right: 10px;
            }

            .price-sale--active {
                display: inline-block;
            }

            
        }
    }

    .slick-list {
        height: 750px;
    }

    .slick-prev:before, .slick-next:before{
        color:$color-white;
    }
    
    .slick-prev, .slick-next {
        
        top: -34px;
        width: 30px;
        height: 30px;
        border-radius: 3px;
        background-color: #e4e4e4;
        transition: 0.3s;

        &:hover {
            background-color: $color-primary;
        }
    }

    .slick-prev {
        left: 5px;

        &::before {
            content: "<";
            color: black;
            font-weight: 700;
            font-size: 1.7rem;
        }
    }
    
    .slick-next {
        left: 40px;

        &::before {
            content: ">";
            color: black;
            font-weight: 700;
            font-size: 1.7rem;
        }
    }
}


// spiner
#spiner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e596;
}

#spiner::after {
    content: "";
    width: 10rem;
    height: 10rem;
    border: 2px solid #f25a41;
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    will-change: tranform;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}