@import "../node_modules/slick-carousel/slick/slick.scss"; 
@import "../node_modules/slick-carousel/slick/slick-theme.scss";

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Stroyka', sans-serif;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Stroyka';
  src: url('./assets/fonts/stroyka/stroyka.woff') format('opentype');
}